<!DOCTYPE html>
<html>
<head>
	<title>SAMPLE PAGE</title>
</head>
<body>
 <form>
 	<input type="text" name="some" placeholder="name"><br/>
 	<input type="radio" name="yes" value="aim">
 	<input type="checkbox" name="check me" value="something"> 
 </form>
</body>
</html>